<ion-content>
<div id="container-with-base-bg">
  <div class="top-icon">
    <img src="assets/images/top-icon.png" alt="Top Icon" />
  </div>
  <div class="aws-container">
    <div class="aws-item">
      <img src="assets/images/aws_000.png" alt="Aws Icon">
      <p>January</p>
    </div>
    <div class="aws-item">
      <img src="assets/images/aws_000.png" alt="Aws Icon">
      <p>March</p>
    </div>
    <div class="aws-item">
      <img src="assets/images/aws_000.png" alt="Aws Icon">
      <p>October</p>
    </div>
  </div>
</div>
</ion-content>
