<ion-content [fullscreen]="true">
  <div id="container">
    <h1>INFOS</h1>
    <p>
      <strong>Climate protection</strong> is essential to ensure a sustainable future for our planet. 
      <strong>Rising temperatures</strong>, <strong>extreme weather</strong> events, and biodiversity loss 
      threaten ecosystems, livelihoods, and global stability. By taking <strong>action</strong> now, 
      we can preserve vital resources, protect communities, and create a healthier environment 
      for future generations.
    </p>
  </div>
</ion-content>
